* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    forced-color-adjust: none;
    background: #e6e6e6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #f9f9f9;
    padding: 30px;
    border: 1px solid #ccc;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
    margin-bottom: 20px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    color:#6967f3;
    align-items: center;
}

button {
    background: #5aa8d8;
    color: rgb(241, 235, 235);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.note {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .bottom-row {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}